<a href="https://colab.research.google.com/github/indela-prasannakumar/Python-Assignments/blob/master/day2_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## BACKSLASH

when ever you want to print " or ' in a string then we use backslash

In [1]:
print("prasanna\"kumar")

prasanna"kumar

In [2]:
print('prasanna\'kumar')

prasanna'kumar

this is used for escape sequences

In [3]:
print("prasanna\nkuumar")

prasanna
kuumar

In [4]:
print("prasanna\akumar")

prasannakumar

## tiple cotes

this is used to print multilines in print()

In [6]:
print("""
    prasanna
    kumar
    """)

    prasanna
    kumar

In [7]:
print('''
    prasanna
    kumar
    ''')

    prasanna
    kumar

## FORMATTED OUTPUT

In [8]:
name="prasanna"
marks=98
age=20
print("The name is ",name,"The marks are ",marks,"The age is ",age)

The name is  prasanna The marks are  98 The age is  20

In [9]:
print("The name is %s \n The marks are %d \n The age is %d"%(name,marks,age))

The name is prasanna
 The marks are 98
 The age is 20

## VARIABLE ASSIGNMENT

In [10]:
x=1
y=2
z=x+y
print(z)

3

In [11]:
x=1
y=1
print(id(x))
print(id(y))
print(id(1))

10914496
10914496
10914496

## OPERATORS

1.Arithematic operators

In [12]:
a=7
b=5
print(a+b)

12

In [13]:
print(a-b)
print(a*b)
print(a/b)
print(a//b)
print(a%b)
print(a**b)

2
35
1.4
1
2
16807

2.Relational operators

In [14]:
a=13
b=33

In [15]:
print(a>b)
print(a<b)
print(a>=b)
print(a<=b)
print(a==b)
print(a!=b)

False
True
False
True
False
True

3.Logical operators

In [17]:
a=1
b=0

In [18]:
print(a and b)
print(a or b)
print(not a)

0
1
False

4.Bit wise operators

In [19]:
a=10
b=4

In [20]:
print(a&b)
print(a|b)
print(~a)
print(a^b)

0
14
-11
14

5.Assignment operators

In [21]:
a=12

print(a)

12

6.Identity operators

In [22]:
a1=3
b1=4
print(a1 is b1)
print(a1 is not b1)

False
True

7.Membership operators

In [23]:
x=[1,2,3,4]
y={1,3,4,6,'e'}
print(1 in x)
print('e' not in y)

True
False