<a href="https://colab.research.google.com/github/indela-prasannakumar/Python-Assignments/blob/master/day7_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.  Use the dictionary, port1 = {21: "FTP", 22:"SSH", 23: "telnet", 80: "http"}, and make a new dictionary in which keys become values and values become keys, as shown: Port2 = {“FTP":21, "SSH":22, “telnet":23,
"http": 80}

In [2]:
port1 = {21: "FTP", 22:"SSH", 23: "telnet", 80: "http"}
port2={port1[i]:i for i in port1}
print(port2)

{'FTP': 21, 'SSH': 22, 'telnet': 23, 'http': 80}

2. Take a list of tuple as shown below.
[(1,2), (3,4), (5,6),(4,5)]
Make a new list which contains sum of number of tuples. 
For example 
Input 
[(1,2), (3,4), (5,6)]
Out put 
[3, 7, 11]

In [6]:
list1=[(1,2),(3,4),(5,6),(4,5)]
list2=list([i[0]+i[1] for i in list1])
print(list2)

[3, 7, 11, 9]

In [12]:
def sum(a):
  s=0
  for i in a:
    s+=i 
  return s  
list1=[(1,2),(3,4),(5,6,3),(1,24,5)]
list2=[sum(i) for i in list1]
print(list2)

[3, 7, 14, 30]

3. Take a list as shown below 
[(1,2,3), [1,2], ['a','hit','less']]
The List contains tuple and lists. Make the elements of inner lists and tuples to outer list

In [20]:
list1= [(1,2,3), [1,2], ['a','hit','less']] 
list1=[j for i in list1 for  j in i]
print(list2)

[1, 2, 3, 1, 2, 'a', 'hit', 'less']